@model Almacen.Models.ES;
@{
    ViewData["Title"] = "Edición de movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edición de movimientos</h1>
<div class="container">
    <div class="row">
    </div>

    <div class="row">
    <div class="col-sm-10">
        <form method="post" asp-action="Edit">

            <input type="hidden" asp-for="IDMovimiento" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IdProducto" class="control-label"></label>
            <input asp-for="IdProducto" class="form-control" />
            <span asp-validation-for="IdProducto" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMov" class="control-label"></label>
                <input asp-for="FechaMov" class="form-control" />
                <span asp-validation-for="FechaMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodegaSalida" class="control-label"></label>
                <input asp-for="BodegaSalida" class="form-control" />
                <span asp-validation-for="BodegaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodegaEntrada" class="control-label"></label>
                <input asp-for="BodegaEntrada" class="form-control" />
                <span asp-validation-for="BodegaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
</div>
@section Scripts{ @{<partial name="_ValidationScriptsPartial" />}}

